/* font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common style use ----------------------------------------------------------------- */
* {
  font-family: "Work Sans", sans-serif;
}
/* button  */
.p-btn {
  background-color: #40534c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  /* own */
  margin-bottom: 30px;
  border-radius: 5px;
}
.p-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.title {
  font-size: 3rem;
  font-weight: 500;
}
.description {
  font-size: 1.1rem;
  color: #727272;
  margin-bottom: 3rem;
}
/* header-------------------------------------------------------- */
header {
  background-color: #f1eedc;
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1.2rem;
}
nav li a {
  text-decoration: none;
}

/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
}
.banner-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-img {
  width: 100%;
}
/* main part ----------------------------------------------------------------- */
main {
  margin: 70px auto;
  max-width: 1140px;
}
/* features section  */

.features-section {
  display: flex;
  gap: 15px;
  align-items: center;
}
.features-img-tank {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.features-img-tank img {
  width: 100%;
}

.features-title .quick {
  color: #727272;
  font-weight: 500;
  font-size: 1.8rem;
}
.features-title .text-feat {
  font-weight: 700;
  color: coral;
  font-size: 2rem;
}
/* facts section  ------------------------------------------------------------------------*/
.facts-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facts-cards .card {
  border: 1px chocolate solid;
  text-align: center;
  padding: 35px 37px;
}
.facts-cards .card-stats {
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 0px;
}
.facts-cards .card-para {
  font-size: 1.3rem;
  margin-top: 5px;
}
/* sponspors section -------------------------------------------------------------- */
.sponspors {
  text-align: center;
  margin-top: 30px;
}
.sponspors-imgs-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}

/* responsive media=========================================================/

/* media screen for small device */
@media screen and (max-width: 576px) {
  /* header style  */
  header,
  .features-contain {
    padding: 15px;
  }
  nav,
  .features-section,
  .facts-cards,
  .sponspors-imgs-card {
    flex-direction: column;
  }

  /* main */
  /* features contain  */
  .features-img-tank {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-cards .card {
    margin-bottom: 30px;
  }
}

/* for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .features-section,
  .sponspors-imgs-card {
    flex-direction: column;
  }
  header,
  .features-contain {
    padding: 20px 50px;
  }
  .features-img-tank {
    grid-template-columns: repeat(2, 1fr);
  }
}
